* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.search {
  min-height: 10h;
  display: flex;
  justify-self: center;
  align-items: center;
}

.search-bar {
  width: 500px;
  border: none;
  padding: 10px;
  margin-top: 2rem;
}

.search-button {
  background-color: lightcoral;
  border: none;
  padding: 9px 20px; 
  color: wheat;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

